/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */

*{
    padding: 0;
    margin: 0;
}

.body{
    background-color: #000000;
    color: #00aa2b;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.header-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-conatiner h1{
    color: #002fff;
}


/* -------------------------------------------------------------------------------------------------------------------------------- */

.table-section{
    display: flex;
    flex-direction: column;

    border: 12px solid red;
}

.table-container{
    display: flex;
    flex-direction: column;

    border: 8px solid green;
}

/* .heading-row{
    
} */

.table-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border: 4px solid blue;
}

.table-row span{

    margin-right: 50px;

    background-color: #ffffff;
}


