/* .table th:nth-child(1),
.table td:nth-child(1) {
    width: 8%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 8%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 30%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 54%;
} */

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */



*{
    padding: 0;
    margin: 0;
}

.body{
    background-color: #000000;
    color: #00aa2b;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.header-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-conatiner h1{
    color: #002fff;
}


/* -------------------------------------------------------------------------------------------------------------------------------- */

.table-section{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-end;

    border: 12px solid red;
}

.table-container{
    display: flex;
    flex-direction: column;
    /* max-width: 1200px; */
    max-width: 1560px;
    width: 100%;

    border: 8px solid green;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 50px;
}

caption {
    caption-side: bottom;
    padding: 10px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

th[scope="col"] {
    background-color: #505050;
    color: white;
}

th[scope="row"] {
    background-color: #d6ecd4;
}

td {
    text-align: center;
    background-color: #ffffff
}

tr:nth-of-type(even) {
    background-color: #eeeeee;
}


